#Ne pas conserver les images :
*.png
*.jpeg
*.tif
#ne pas conserver les données d'origine et les résultats:
*/DONNEES
*/RESULTATS
#Ne pas conserver les historiques:
*.Rhistory
*.ipynb_checkpoints
*.RProj
#Ne pas conserver certains fichiers :
*.qgz ## projets QGIS
*.geojson