#Ne pas conserver les images :
*.png
*.jpeg
*.tif
#ne pas conserver les données d'origine et les résultats:

#Ne pas conserver les historiques:
*.Rhistory
*.ipynb_checkpoints
*.RProj

#Ne pas conserver certains fichiers :
DVF_IDF2\\*.qgz ## projets QGIS
*.geojson
*.shp
*.dbf
*.prj
*.shx
*.cpg
*.pbix
*.xlsx
DVF_IDF2\\DONNEES\\*.csv

# Ne pas conserver le cache :
*/cache